.App {
  box-sizing: border-box;
  min-height: 100vh;
  /* background: url('https://cdn.pixabay.com/photo/2020/03/30/07/18/nude-4983343_960_720.jpg') no-repeat center;
  background-color: rgb(255, 0, 0); */
  border: 6px solid rgb(10, 10, 10);
}


